*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body{
	background-color: #292a33;
	background-image: url(../img/background.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

.main{
	position: relative;
	width: 80%;
	margin: 0 auto;
	top: 35vh;
	height: 30vh;
	display: flex;
}

.logo{
	width: 64%;
	width: 64vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32%;
	margin-top: -32%;
	margin-left: -32vmin;
	margin-top: -32vmin
}
.logo img{
	height: 100%;
}

.rodape{
	position: absolute;
	bottom: 0px;
	background-color: #333;
	text-align: center;
	color: #E4AC2B;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	padding-top: 20px;
	padding-bottom: 20px;
}
.rodape .icones li{
	display: inline-block;
	height: 24px;
	width: 24px;
}

.rodape .icones li + li{
	margin-left: 15px;
}